@tailwind base;

@layer base {
    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    body {
      @apply bg-black text-white;
    }

    .toasts-wrapper {
      position: fixed;
      top: 1rem;
      right: 1rem;
    }
    
    .toast {
      padding: 0.5rem 1rem;
      color: white;
      background: green;
      margin-bottom: 0.5rem;
    }

    .modals-wrapper {
      position: fixed;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
    
    .modal {
      width: 250px;
      height: 250px;
      color: black;
      background: white;
    }

    .active {
      opacity: 1;
      pointer-events: all;
    }
}

@tailwind components;
@tailwind utilities;